*.gem
*.rbc
*.db
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
public/pictures/*.*

# YARD artifacts
.yardoc
_yardoc
doc/


# Config
config/options.rb
config/*.yml
