<div class="col-md-10 col-md-offset-1">
<pre>
Ici l'index du site.
- QR Code pour tablette
- Aide sur le lecteur de code barres
- Aide sur le fonctionnement de l'application
	- step 1 : imprimer des codes barres et référencer les matériels
	- step 2 : ajouter par CSV
	- step 3 : créer une étiquette (tag) par équipe
	- step 4 : c'est prêt !
- version
- liens ??
</pre>
</div>