<div class="col-md-5  col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Your webcam' %></h3>
	  	</div>
		<div class="panel-body">
			<p><video id="video" autoplay="autoplay" class="img-thumbnail"></video></p>
			<p>
				<button type="button" id="buttonSnap" value="Prendre une photo" class="btn btn-info" disabled="disabled" onclick="snapshot()">
					<span class="glyphicon glyphicon-camera"></span></button>
				<button type="button" id="buttonStart" class="btn btn-default" value="Démarrer" disabled="disabled" onclick="start()">
					démarrer
				</button>
				<button type="button" id="buttonStop"  class="btn btn-danger" value="Arrêter" disabled="disabled" onclick="stop()">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</button>
			</p>
			<p><canvas id="canvas" class="img-thumbnail"></canvas></p>
		</div>
	</div>
</div>

<div class="col-md-5">
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Help' %></h3>
	  	</div>
		<div class="panel-body">
			<%= _h 'help-take-picture' %>
		 </div>
	</div>
</div>

<div class="col-md-5">
	<pre id="preLog">Chargement…</pre>
</div>


<script type="text/javascript">//<![CDATA[
"use strict";
var video = document.getElementById('video');
var canvas = document.getElementById('canvas');
var videoStream = null;
var preLog = document.getElementById('preLog');
var stopButton = document.getElementById('buttonStop');
var snapButton = document.getElementById('buttonSnap');
var startButton = document.getElementById('buttonStart');

function buttonState(b, s) {
	if (b) b.disabled = s;
}

function log(text)
{
	if (preLog) preLog.textContent += ('\n' + text);
	else alert(text);
}

function snapshot()
{
	canvas.width = video.videoWidth;
	canvas.height = video.videoHeight;
	canvas.getContext('2d').drawImage(video, 0, 0);
}

function noStream()
{
	log('L’accès à la caméra a été refusé !');
}

function stop()
{
	buttonState(stopButton, true);
	buttonState(snapButton, true);
	if (videoStream)
	{
		if (videoStream.stop) videoStream.stop();
		else if (videoStream.msStop) videoStream.msStop();
		videoStream.onended = null;
		videoStream = null;
	}
	if (video)
	{
		video.onerror = null;
		video.pause();
		if (video.mozSrcObject)
			video.mozSrcObject = null;
		video.src = "";
	}
	buttonState(startButton, false);
}

function gotStream(stream)
{
	buttonState(startButton, true);
	videoStream = stream;
	log('Flux vidéo reçu.');
	video.onerror = function ()
	{
		log('video.onerror');
		if (video) stop();
	};
	stream.onended = noStream;
	if (window.webkitURL) video.src = window.webkitURL.createObjectURL(stream);
	else if (video.mozSrcObject !== undefined)
	{//FF18a
		video.mozSrcObject = stream;
		video.play();
	}
	else if (navigator.mozGetUserMedia)
	{//FF16a, 17a
		video.src = stream;
		video.play();
	}
	else if (window.URL) video.src = window.URL.createObjectURL(stream);
	else video.src = stream;
	buttonState(snapButton, false);
	buttonState(stopButton, false);
}

function start()
{
	if ((typeof window === 'undefined') || (typeof navigator === 'undefined')) log('Cette page requiert un navigateur Web avec les objets window.* et navigator.* !');
	else if (!(video && canvas)) log('Erreur de contexte HTML !');
	else
	{
		log('Demande d’accès au flux vidéo…');
		if (navigator.getUserMedia) navigator.getUserMedia({video:true}, gotStream, noStream);
		else if (navigator.oGetUserMedia) navigator.oGetUserMedia({video:true}, gotStream, noStream);
		else if (navigator.mozGetUserMedia) navigator.mozGetUserMedia({video:true}, gotStream, noStream);
		else if (navigator.webkitGetUserMedia) navigator.webkitGetUserMedia({video:true}, gotStream, noStream);
		else if (navigator.msGetUserMedia) navigator.msGetUserMedia({video:true, audio:false}, gotStream, noStream);
		else log('getUserMedia() n’est pas disponible depuis votre navigateur !');
	}
}

start();
//]]></script>