# -*- encoding: utf-8 -*-

ENV['RACK_ENV'] = 'development'
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))
APP_PORT = 9292

# Configurer ici le virtual path de l'application
APP_PATH = '/techshopio'

# Version de l'application
APP_VERSION = '1.0.0'

# Langage de l'application
APP_LANG = :fr

# Nom de la base SQLite.
DB_FILENAME = APP_ROOT + '/db/files/test.db'

# Credential for modifying things
ADMIN_LOGIN = "admin"
ADMIN_PWD = "secret"

# Application params
DELETE_ON_LIST		= "Y" # Show or hide button on the list (Y/N).
USE_IMAGE 			= "Y" # Show or hide images in application (Y/N).
USE_CHECKINOUT_DATE	= "Y" # Show or hide check-in return date (Y/N)